.App{
    text-align: center;
}


/*
    Navbar
*/

.regularNav{
    display: flex;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    
}

.mobileNav{
    display: none;
}
.userIcon{
    background: transparent;
    border: none;
    color: #49111C;
    margin: 0px 0px 0px 50px;
    font-size: 50px;
}

.profilePic{
    background: transparent;
    border-style: solid;
    border-radius: 100%;
    color: #49111C;
  
    width: 50px;
    height: 50px;
}
.downArrow{
    background: transparent;
    border: none;
    color: #49111C;
    margin: 0px 0px 0px 0px;
    font-size: 25px;
}
.dropDownMenu{
    position: absolute;
    background-color: #A9927D;
    padding: 10px 10px 30px 10px;
    border-style: solid;
    border-radius: 10px;
    margin: 0;
}

.loginStatus{
    padding: 0px;
    margin: 0px 0px 10px 0px ;
    font-weight: bold;
    font-size: 20px;
}
.loginButton{
    border-style: solid;
    background-color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
}

.googlePic{
    margin-right: 10px;
    height: 15px;
    width: 15px;
}
.barlinks{
    color: #49111C;
    font-weight: bold;
    margin: 40px;
    font-size: 35px;
    text-decoration: none;
 
}

.barlinks-active{
    color: #49111C;
    font-weight: bold;
    margin: 40px;
    font-size: 35px;
    text-decoration: underline;
 
}

.barlinks:hover {
    color: #49111C;
}

.barlinks::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    top: 90%;
    left: 0px;
    background-color: #49111C;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  
}

.barlinks:hover::before {
    transform: scaleX(1);
}

/*
    Card Container CSS
*/
.gridContainer{
   display: flex;
   justify-content: center
}
.grid {
    justify-content: center;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

.cardContainer{
    margin: 20px 70px 30px 70px;
    padding:  0px 20px 40px 20px;
    border-radius: 25px;
    border-style: solid;
    box-shadow: 8px 8px 2px 1px #5E503F;
}
.cardContainer-2{
    margin:0 20% 30px 20%;
    padding: 20px;
    border-radius: 25px;
    height: fit-content;
    text-align: left;
    border-style: solid;
    box-shadow: 8px 8px 2px 1px #5E503F;
}

.cocktailImage{

    border-radius: 25px;
    width: 70%;
}


.cocktailImage-2{

    border-radius: 25px;
    margin: 10px 0px 0px 50px;
    height: 300px;
    width: 300px;
}
.cocktailText{
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
    text-decoration: none;
    color: #0A0908;
}

.cocktailText-2{
   
    margin: 30px 0px 0px 50px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    color: #0A0908;
}
.cocktailText-3{
   
    margin: 30px 0px 0px 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #0A0908;
}
.cocktailText-4{
   
    margin: 0px 0px 0px 50px;
    font-size: 20px;
    text-decoration: none;
    color: #0A0908;
}

/*
    Website CSS
*/

.pageHeader{
    font-size: 50px;
    font-weight: bold;

}
.favText{
    font-size: 30px;
    font-weight: bold;

}

.searchBar{
    background: transparent;
    border-color: #0A0908;
    border: none;
    margin-bottom:30px;
    border-bottom: 2px solid #49111C;
    font-size: 30px
}
.searchBar:focus{ 
    outline: none;
   
}
.searchIcon{
    color: #49111C;
    font-size:25px;
    
}

.backIcon{
    font-size: 40px;
    background: transparent;
    border: none;
}

.favIcon{
    display: inline-block;
    margin: 5px 0px 0px 80%;
    color: #49111C;
    font-size: 30px;
    background: transparent;
    border: none;
}
.favIcon-2{
    display: inline-block;
    margin: 5px 0px 0px 80%;
    color: rgb(192, 192, 30);
    font-size: 30px;
    background: transparent;
    border: none;
}



@media screen and (max-width:769px){
    /*
        Mobile Navigation
    */
    .regularNav{
        display: none;
    }
    .mobileNav{
        display: flex;

        flex-direction: column;
        text-align: center;
    }
    .menuDesc{
        display: inline-block;
        border: none;
        background-color: transparent;
        color:#49111C;
        font-size: 20px;
        text-align: right;
        margin-right: 10px;
    }
    .menuButton{
        border: none;
        background-color: transparent;
        color:#49111C;
        font-size: 20px;
        text-align: right;
        margin: 20px 20px 0px 0px;
    }
    .mobileMenu{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .barlinks{
        color: #49111C;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
     
    }
    
    .barlinks-active{
        color: #49111C;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        text-decoration: underline;
     
    }
    .barlinks::before {
       display: none
      
    }
    .barlinks:hover::before {
        transform: scaleX(1);
    }
    .searchBar{
        background: transparent;
        border-color: #0A0908;
        border: none;
        margin-bottom:30px;
        border-bottom: 2px solid #49111C;
        font-size: 20px
    }
    .cardContainer-2{
        margin:0 5% 0 5%;
        border-radius: 25px;
        text-align: center;
        border-style: solid;
        box-shadow: 8px 8px 2px 1px #5E503F;
    }

    
    .cocktailImage-2{
        border-radius: 25px;
        margin: 30px 25% 0px 25% ;
        width: 50%;
        height: 50%;
    }
    .cocktailText-2{
        display: block;
        margin: 30px 25% 0px 25%;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #0A0908;
    }
    .cocktailText-3{
        display: block;
        margin: 30px 25% 0px 25%;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #0A0908;
    }
    .cocktailText-4{
        display: block;
        margin: 30px 25% 0px 25%;
        font-size: 20px;
        text-decoration: none;
        color: #0A0908;
    }
    .userIcon{
        background: transparent;
        border: none;
        color: #49111C;
        margin: 0px 0px 0px 20px;
        text-align: center;
        font-size: 100px;
    }
    .downArrow{
        background: transparent;
        border: none;
        color: #49111C;
        text-align: center;
        margin: 0px 0px 0px 0px;
        font-size: 15px;
    }

    .dropDownMenu{
        position: relative;
        padding: 10px 10px 30px 10px;
        left: 25%;
        width: 50%;
        border-style: solid;
        border-radius: 10px;
        margin: 0;
    }
    .profilePic{
        background: transparent;
        border-style: solid;
        border-radius: 100%;
        color: #49111C;
        width: 100px;
        height: 100px;
        margin: 0px 0px 0px 0px;
    }
} 
 